* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.text img {
width: 80%;
}

.text p {
    font-size: 1.5rem;
    width: 75%;
    text-align: left;
    padding-left: 7%;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    background-color: #fff;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 100%), 0px 1px rgb(0 0 0 / 50%);
    padding: 10px;
}

.form .email, .form .password {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    font-size: 1.3rem;

}

.form .login {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #1877f2;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;

}

.form a {
    color: #1877f2;
    text-align: center;
    text-decoration: none;
    font-size: 0.7rem;

}

.form hr{
    border: 1px solid #dddfe2;
    
}

.form .create-account {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #42b72a;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 65%;
    margin: 0 auto;
}

.form p {
    position: relative;
    bottom: -500;
}

.form p a {
    columns: black ;
    font-weight: bold;
}